.container-fluid{
  padding: 3% 5%;
  max-width: 960px;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}
  
header {
  background-color: #4caf50;
  margin: 0 auto;
  height: 50px;
}

/* ul{
    list-style-type: none;
} */

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding-top: 10px;
  padding-bottom: 30px;
}


p {
  font-size: 1.5em;
  color: black;
  font-family: Helvetica;
}

button.release {
  float: right;
  background-color: #E1332D;
}
